[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyqt6 = "*"
pyqt6-qscintilla = "*"
requests = "*"
uvicorn = "*"
starlette = "*"
python-multipart = "*"
aiofiles = "*"
py2app = "*"
pyinstaller = "*"
pyqt6-sip = "*"
"pyqt6.sip" = "*"
validators = "*"

[requires]
python_version = "3.9"
