aiofiles==0.6.0
altgraph==0.17
aniso8601==9.0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cheroot==8.5.2
click==7.1.2
cryptography==3.4.6
decorator==5.0.6
h11==0.12.0
httpagentparser==1.9.1
idna==2.10
importlib-metadata==3.10.0
itsdangerous==1.1.0
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.text==3.5.0
Jinja2==2.11.3
macholib==1.14
MarkupSafe==1.1.1
marshmallow==3.10.0
modulegraph==0.18
more-itertools==8.7.0
mypy-extensions==0.4.3
portend==2.7.1
py2app==0.24
pycparser==2.20
pyinstaller==4.2
pyinstaller-hooks-contrib==2021.1
pyperclip==1.8.2
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.8.1
python-multipart==0.0.5
pytz==2021.1
QScintilla==2.12.1
requests==2.25.1
six==1.15.0
starlette==0.14.2
tempora==4.0.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
uncurl==0.0.11
urllib3==1.26.4
uvicorn==0.13.4
validators==0.18.2
Werkzeug==1.0.1
zc.lockfile==2.0
zipp==3.4.1
